<!-- DOCTYPE html -->

<html>
    <body>
        <h1>{{ title}} template is working</h1>
        <ul>
            {% for obj in object_list %}
             
            <li>    
                <div>
                   <a href="{{obj.get_absolute_url}}"> {{obj.title}} </a></br>
                    {{obj.content}}</br>
                    {{obj.timestamp}}</br>
                    {{obj.id}}</br>
                </div>
            </li>
            {% endfor %}
            
        </ul>
    </body>
</html>